@import url('https://fonts.googleapis.com/css?family=Lato');

.sec{width: 100%;height: 161%;border-top:1px solid transparent;margin-top: -3%;}

.sec{background:url(bb.png);background-repeat: no-repeat;
	background-position:0% -12%;background-size:300px; }
section h2{text-align: center;margin-top:9%;text-transform: uppercase;
	font-size:32px;color: #0D98BA;padding-bottom: 8%;}

	table {
    border-collapse: collapse;
    width: 92%;
    text-align: center;
    margin-left: 4%;
    box-shadow: 0 20px 20px -10px #c7e1ff;
    text-transform: capitalize; 
}
th{background-color: #48C9B0  ;color: white;}
td, th {
    border: 1px solid transparent;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.sec p{text-align: center;margin-top:7%;text-transform: capitalize;
	font-size:16px;color: #0D98BA;}